.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
  font-family: Roboto;
}

.home {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  max-width: 1045px;
  margin: auto;
}
.home-text {
  width: 525px;
}

.home-form {
  background: #3C444D;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 30px;
}
.home-form input {
  width: 250px;
  height: 45px;
  background-color: #2D333A;
  border-radius: 6px;
  border: 0;
  padding-left: 20px;
  color: #CBCFD4;
  font-family: Rubik;
  margin: 7px 0 21px;
  font-size: 14px;
}
.home-form button,
.home-text button {
  width: 270px;
  height: 40px;
  background: linear-gradient(90deg, #F27A54 0%, #A154F2 100%);
  border-radius: 6px;
  border: 0;
  margin-top: 17px;
}
.home-form label {
  font-size: 14px;
}