* {
  box-sizing: border-box;
}
/* Homepage Styles */
.home {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  max-width: 1045px;
  margin: auto;
}
.home-text {
  width: 545px;
}
.home-text h1 {
  font-size: 44px;
  color: #FFFFFF;
  margin-top: -10px;
}
.home-text p {
  font-size: 19px;
  line-height: 158.47%;
  margin-top: -10px;
}
.home-form {
  background: #3C444D;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 30px;
}
.home-form input {
  width: 250px;
  height: 45px;
  background-color: #2D333A;
  border-radius: 6px;
  border: 0;
  padding-left: 20px;
  color: #CBCFD4;
  font-family: Rubik;
  margin: 7px 0 21px;
  font-size: 14px;
}
.home-form button,
.home-text button {
  width: 270px;
  height: 40px;
  background: linear-gradient(90deg, #F27A54 0%, #A154F2 100%);
  border-radius: 6px;
  border: 0;
  margin-top: 17px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Rubik';
  color: #FFFFFF;
  font-weight: bold;
}
.home-form label {
  font-size: 14px;
}
.home-form p {
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  margin: 5px 0 14px;
}
.home footer {
  position: fixed;
  bottom: 30px;
  font-size: 12px;
}

/* Navbar */
.navbar {
  height: 80px;
  background-color: #3C444D;
  width: 100vw;
  position: fixed;
}
.navbar .contents {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  max-width: 1045px;
  margin: auto;
  text-transform: uppercase;
}
.navbar .brand {
  display: inline-flex;
}
.navbar .brand h2 {
  font-size: 20px;
  margin-left: 15px;
  font-weight: bold;
}
/* .navbar .navs {
  display: flex;
  align-items: center;
} */
.navbar .link {
  text-decoration: none;
  color: #CBCFD4;
  margin-right: 30px;
}
.navbar .user {
  background-color: #2D333A;
  height: 45px;
  width: 45px;
  border-radius: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  font-family: 'Rubik';
  border: 0;
}


/* Inner Layout */
.page-container {
  max-width: 1045px;
  margin: auto;
  display: flex;
  height: 50vh;
  padding-top: 100px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 330px;
  /* flex-grow: 1; */
  /* height: 100vh; */
  /* overflow-y: hidden; */
  /* scrollb */
}
.sidebar p {
  font-size: 14px;
  text-align: center;
}

.main-feed {
  display: flex;
  flex-direction: column;
  width: 685px;
  margin-left: 30px;
  /* flex-grow: 2; */
}

/* Sidebar */
.small-profile {
  width: 100%;
  background: #3C444D;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  text-align: center;
}
.small-profile img {
  height: 128px;
  margin-top: 50px;
}
.small-profile p {
  font-size: 10px;
  text-transform: uppercase;
  color: #F27A54;
  font-weight: bold;
  margin-top: 40px;
}
.small-profile h3 {
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 7px;
}
.small-profile div {
  font-size: 17px;
  font-style: italic;
  margin-top: -9px;
  padding-bottom: 30px;
}

/* Sidebar Tags */
.sidebar-tags {
  width: 100%;
  background: #3C444D;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-top: 20px;
  padding: 30px;
}
.sidebar-tags .link {
  text-decoration: none;
  color: #CBCFD4;
  text-transform: capitalize;
  display: block;
}
.sidebar-tags h3 {
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  margin: 0 0 20px;
}
